<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Listar</title>
  </head>
  <body>
    <div class="cont">
      <h1 class="lista-de-usuarios">Lista de Produtos</h1>
    </div>

    <center>
      <h2 class="users-first">Produtos</h2>
    </center>

    <div class="meio">
      <% produtos.forEach(function(produto) { %>
      <div class="card-conteudo">
        <img src="/img/user.png" width="100px" height="100px">
        <p>Id: <%= produto.id %></p>
        <p>Nome: <%= produto.nome %></p>
        <p>Imagem: <%= produto.imagem %></p>
        <p>Descrição: <%= produto.descri %></p>
        <p>Preco: <%= produto.preco %></p>
      </div>
      <% }) ;%>

      <div class='parte-button'>
        <form action="/excluir_produto" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <button
          class='button'
        >Deletar</button>
        </form>
      </div>
    </div>
  </body>
</html>
